
.cardStyle {
  position: absolute;
  top: 2rem;
}
.header {
  display: flex;
  justify-content: right;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  height: 70px;
}
.RRlogo {
  background-image: url(./assets/images/react-redux.jpeg);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}
.navbar-nav .nav-item{
  width: 166px;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.card {
  margin-bottom: 1rem;
}
a.active {
  color: #40C4B3 !important;
}
.score {
  background-color: #40C4B3;
  border-radius: 50%;
  font-size: 25px;
  padding: 7px;
}